<div class="div-table">
    <% for(var i=0; i < Math.floor(tables.capacity.length/6)+1; i++) { %>       
    <div class="div-table-row">
      <% for(var j=0; j < Math.min(tables.capacity.length-6*i,6); j++) { %>       
      <div class="div-table-col">
        <% if(tables.avl[6*i+j]){ %>
        <input value="<%= 6*i+j+1 %>" type="checkbox" id="res_check<%= 6*i+j %>" name="res_checkbox_arr" />
        <% } %>
        <% if(!tables.avl[6*i+j]){ %>
        <input value="<%= 6*i+j+1 %>" type="checkbox" id="res_check<%= 6*i+j %>" disabled="disabled" name="res_checkbox_arr" />
        <input type="hidden" name="res_checkbox_arr" value="-1" />
        <% } %>
        <label>
          <%if(tables.avl[6*i+j]){ %> 
          <div class="myDIV"><img onclick="res_selectcheck(<%= 6*i+j %>)" class="table_img" src="./table_icon.jpg" width="80"><p>Table <%= 6*i+j+1 %></p></div>
          <% } %>
          <%if(!tables.avl[6*i+j]){ %> 
          <div class="myDIV"><img onclick="res_selectcheck(<%= 6*i+j %>)" class="table_img" src="./taken_table.jpg" width="80"><p>Table <%= 6*i+j+1 %></p></div>
          <% } %>
          <div class="hide">Capacity: <%= tables.capacity[6*i+j].capacity %><br> <%if(tables.avl[6*i+j]){%> un<% } %>occupied</div>
        </label>
      </div>
      <% } %>
    </div>
    <% } %>
</div>
